<center><p class = "textcolor2">The Stig is Jonathan Graham</p></center>
<img class="sizeimage" src="/img/stig.png">
<center><h1> Further proof that Jonathan is The Stig.  Have you ever seen Jon and The Stig in the same room at the same time?
<br>
Jonathan is either The Stig or an Ancient Alien.</h1></center>
<img class="sizeimage" src="/img/aa.jpg">