<! this is our design. you need to declare the file type by telling the browser what kind of code to expect >

<!DOCTYPE html>

<head>
    <title> 
        Sunday Session
    </title>
    <link rel="stylesheet" href = "css/style.css">
    <script src="js/formvalidation.js"></script> 
</head>


<body>
    <header>
        <ul>
            <li class = "textcolor1"><a href = "/">Home</a></li>
            <li class = "textcolor2"><a href = "/contact">Contact</a></li>
            <li class = "textcolor1"><a href = "/about">About Us</a></li>
            <li class = "textcolor2"><a href = "/wdtfs">What does the Fox say?</a></li>
            <li class = "textcolor1"><a href = "/swords">S Words</a></li>
        </ul>
    </header>
    <%=yield%>
 </body>   
 <footer><center><a href = "http://www.minedminds.org">Mined Minds</a></center></footer>
