<p class="emphasis">What is your name?</p>
<form method="post" action="/name" name="name_form" onsubmit = "return validateForm('name_form', 'input_name')">
    <input type="text" name="input_name">
    <input type="submit">
</form>
<p id="error" ></p>